*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins;
}

/*-----------------------MEDIAQUERY------------------------*/
	header{
		position: fixed;
		width: 100%;
		z-index: 10;
		display: flex;
		justify-content: center;
	}

	.containerHeader{
		margin-top: 10px;
		position: fixed;
		display: flex;
		justify-content: space-between;
		width: 90%;
	}

	header img{
		width: 150px;
	}

	button.btn-navbar{
		background: white;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		cursor: pointer;
		color: #2c2c54;
		border-radius: 5px;
	}

	button.btn-navbar.btn-contact{
		visibility: hidden;
	}

	div.menu nav{
		visibility: hidden;
		position: absolute;
		display: flex;
		flex-direction: column;
		background:  white;
		margin-top: 20px;
		width: 200px;
	}

	div.menu nav.show{
		visibility: visible;
	}

	nav a{
		text-decoration: none;
		color: #2c2c54;
		line-height: 50px;
	}

	nav a p{
		margin: 10px 15px;
	}

	nav a:hover{
		background-color: #cccccc;
	}

	section{
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	section.home{
		background-image: url('../img/bgHome.jpg');
		background-size: cover;
		height: 100vh;
		padding: 0 20px;
	}

	section.aboutUs{
		background: #ecf0f1;
	}

	div.titleHome{
		position: relative;
		width: 100%;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	div.borderTitle{
		position: relative;
		width: 25%;
		line-height: 15px;
		border-top: 3px solid #2c2c54;
	}

	h1.title{
		font-size: 30px;
		font-weight: bold;
		color: #2c2c54;
	}

	h2.title{
		font-size: 55px;
		font-weight: bold;
		color: #2c2c54;
	}

	div.sectionName{
		position: absolute;
		margin-top: 50px;
		margin-left: 3px;
		background:  white;
		display: inline-block;
		padding: 10px;
		font-weight: bolder;
	}
	
	/*-----------------------------------------ABOUTUS---------------------*/
	
	div.aboutUsBox{
		height: 100%;
		color: #2c2c54;
		padding: 0 20px;
	}


	div.aboutUsDescription{
		margin-top: 100px;
	}
	
	.aboutUsBox h5{
		margin-top: 50px;
		font-weight: normal;
		font-size: 35px;
		text-align: center;
	}

	.aboutUsBox h5 span{
		font-weight: bolder;
	}

	.aboutUsBox p.aboutDescription{
		margin: 40px auto;
	}

	/*---------------------------------------PROJECTS--------------------------*/

	section.projects{
		height: 100vh;
	}

	div.projectsBox{
		
		height: 100%;
		color: #2c2c54;
		width: 100%;
	}

	.projectsBox .sectionName{
		margin: 50px 20px;
	}

	div.navigationArrows{
		width: 90%;
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 40%;
		margin: 0 5%;
	}

	div.navigationArrows button.arrows{
		cursor: pointer;
		background: white;
		padding: 10px;
		border: none;
		display: flex;
		color: #2c2c54;
	}

	div.roulette{
		height: 100%;
	}

	div.project{
		display: none;
		height: 100%;
		background-image: url('../img/bgProjects1.jpg');
		background-size: cover;
	}

	div.project2{
		display: none;
		height: 100%;
		background-image: url('../img/bgProjects2.jpg');
		background-size: cover;
	}

	div.project3{
		display: none;
		height: 100%;
		background-image: url('../img/bgProjects3.jpg');
		background-size: cover;
	}

	div.showProject{
		display: block;
	}

	div.projectName{
		width: 90%;
		background-color: white;
		padding: 10px;
		margin: 0 20px;
		position: absolute;
		bottom: 20px;
	}

	/*-----------------------------CONTACT-------------------------*/

	section.contact{
		height: 100%;
		background-color: #2c2c54;
		color: white;
	}

	div.contactBox{
		width: 100%;
		padding: 0 20px;
	}

	div.contactBox .sectionName{
		color: #2c2c54;
	}

	div.contactInfo{
		margin: 100px 11px auto 11px
	}

	.contactTitle{
		margin-top: 10px;
		font-weight: bold;
		font-size: 30px;
	}

	div.contactBox ul{

	}

	ul li{
		display: flex;
		margin: 25px auto;
	}

	ul li a{
		color: white;
	}

	ul li span{
		margin-right: 15px;
	}

	p.email{
		text-decoration: underline;
	}

	div.socialNet{
		width: 55%;
		font-size: 30px;
		display: flex;
		justify-content: space-between;
	}

	div.socialNet a{
		color: white;
	}

	div.socialNet a:hover{
		color: grey;
	}

	div.hiring{
		margin: 20px auto;
	}

	.hiring a{
		color: white;
	}

	p.hiringTitle{
		margin: 20px auto;
	}

	p.personalMessage{
		margin-bottom: 20px;
	}

	form input, textarea{
		margin: 15px auto;
		padding: 10px;
		width: 100%;
		background-color: #121221;
		border: none;
		color: white;
	}

	form input, textarea::placeholder{
		color: white;
	}

	input.sendMessage{
		background-color: white;
		color: #2c2c54;
		font-weight: bold;
		width: 60%;
		float: right;
		margin-bottom: 25px;
	}

/*-------------------------------------------MEDIAQUERY-----------------------------------*/

@media(min-width: 750px){

	button.btn-navbar.btn-contact{
		visibility: visible;
	}

	button.btn-navbar.btn-menu:after{
		content: ' menu';
	}

	.logoAir{
		color: #2c2c54;
	}

	div.titleHome{
		position: relative;
		width: 90%;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	div.title{
		width: 60%;
	}

	div.borderTitle{
		position: relative;
		width: 15%;
		border-top: 3px solid #2c2c54;
	}

	section.aboutUs{
		height: 100vh;
	}

	div.aboutUsDescription{
		width: 70%;
		margin: 85px auto;
	}

	.descriptionText{
		display: flex;
		justify-content: space-around;
		margin: 30px auto;
	}

	.aboutUsBox h5{
		margin: 40px auto;
		width: 55%;
	}
	
	.aboutUsBox p.aboutDescription{
		margin: 40px 10px;
	}

	div.roulette{
		display: flex;
		width: 100%;
		height: 100%;
	}

	div .project, .project2, .project3{
		width: 33.33%;
	}

	div.project{

		display: block;
	}

	div.project2{

		display: block;
	}

	div.project3{

		display: block;
	}

	div.projectName{
		width: 30%;
	}

	.order1{
		order: 2;
	}

	.order2{
		order: 1;
	}

	.order3{
		order: 3;
	}

	div.contactBox{
		display: flex;
	}

	div.contactInfo{
		width: 50%;
		display: flex;
		flex-wrap: wrap;
	}

	div.container1{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	p.contactTitle{
		width: 80%;
	}

	div.socialNet{
		margin-top: 50px;
		width: 80%;
	}

	form{
		width: 80%;
	}

	form input{
		width: 60%;
	}

	form textarea{
		width: 100%;
	}

	input.sendMessage{
		width: 50%;
	}

	div.map{
		position: absolute;
		right: 0;
		width: 40%;
		z-index: 9;
		height: 100%;
		background-image: url('../img/bgContact.jpg');
		background-size: cover ;
		background-position: 490px 20px;
	}
}


